<h4><b>Internal server error</b></h4>

<ng-container *ngIf="error">
    <h5 class="text-danger"> Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this, then angular is probably not to blame.</p>
    <p>What to do next?</p>
    <ol>
        <li>
            Open chrome dev tools! Then check what failed, under "Network" tab!
        </li>
        <li>
            Examine the request URL - what API endpoint are you requesting?
        </li>
        <li>
            Reproduce the problem in Postman. If we get the same error, Angular is NOT the problem.
        </li>
    </ol>
    <p style="font-weight: bold;">Following is the stack trace: </p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>